<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
<h1>Daniel Pino</h1>
<h2>Jackson McGhehee</h2>
  <div class="button primary">
    <a href="users/new">
    Sign Up Now!
    </a>
  </div>
  </body>
</html>
