<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

  <div class="button primary">
    <a href="users/new">
    Sign Up Now!
    </a>
  </div>

  <div class="button primary">
    <a href="users/new">
    Sign Up Now!
    </a>
  </div>

  <div class="button primary">
    <a href="users/new">
    Sign Up Now!
    </a>
  </div>

  </body>
</html>
