<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <h2>Jackson McGhehee</h2>
<h3>Daniel Pino</h3>
  <div class="button primary">
    <a href="users/new">
    Sign Up Now!
    </a>
  </div>
  </body>
</html>
