<form method="POST" action="/users">

   <input placeholder="Name">
   <input placeholder="Age">
   <input placeholder="Food">
   <input placeholder="Gym">
   <input type="submit" value="Submit">
</form>


