body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(28, 148, 148) ;
}

a {
  color: #00B7FF;
}
h1{
  text-align: center;
}
.button.primary:hover {
  background: #74942c;
}

.button.primary{
  text-align: center;
}