<h3>Add New Bar</h3>

<form action="/users/{{userId}}/food" method="POST">
    <div>
        <label for="name">food</label>
        <input type="text" name="name">
    </div>
    <button class="btn" type="submit">Add gym</button>
</form>
<button class="btn">
    <a href="/users/{{userId}}">cancel</a>
</button>